In [42]:
import numpy as np
import pandas as pd

In [43]:
df = pd.read_csv("./datasets/tourism_with_id.csv")

In [44]:
df.head(3)

,Place_Id,Place_Name,Description,Category,City,Price,Rating,Time_Minutes,Coordinate,Lat,Long,Unnamed: 11,Unnamed: 12
0,1,Monumen Nasional,Monumen Nasional atau yang populer disingkat d...,Budaya,Jakarta,20000,4.6,15.0,"{'lat': -6.1753924, 'lng': 106.8271528}",-6.175392,106.827153,NaN,1
1,2,Kota Tua,"Kota tua di Jakarta, yang juga bernama Kota Tu...",Budaya,Jakarta,0,4.6,90.0,"{'lat': -6.137644799999999, 'lng': 106.8171245}",-6.137645,106.817125,NaN,2
2,3,Dunia Fantasi,Dunia Fantasi atau disebut juga Dufan adalah t...,Taman Hiburan,Jakarta,270000,4.6,360.0,"{'lat': -6.125312399999999, 'lng': 106.8335377}",-6.125312,106.833538,NaN,3

In [45]:
df.columns

Index(['Place_Id', 'Place_Name', 'Description', 'Category', 'City', 'Price',
       'Rating', 'Time_Minutes', 'Coordinate', 'Lat', 'Long', 'Unnamed: 11',
       'Unnamed: 12'],
      dtype='object')

In [46]:
df.drop(["Unnamed: 11","Unnamed: 12"],axis=1,inplace=True)

In [47]:
df.columns

Index(['Place_Id', 'Place_Name', 'Description', 'Category', 'City', 'Price',
       'Rating', 'Time_Minutes', 'Coordinate', 'Lat', 'Long'],
      dtype='object')

In [48]:
df["Category"].unique()

array(['Budaya', 'Taman Hiburan', 'Cagar Alam', 'Bahari',
       'Pusat Perbelanjaan', 'Tempat Ibadah'], dtype=object)

In [49]:
df['City'].unique()

array(['Jakarta', 'Yogyakarta', 'Bandung', 'Semarang', 'Surabaya'],
      dtype=object)

In [50]:
df.loc[df['City'] == "Jakarta"]

,Place_Id,Place_Name,Description,Category,City,Price,Rating,Time_Minutes,Coordinate,Lat,Long
0,1,Monumen Nasional,Monumen Nasional atau yang populer disingkat d...,Budaya,Jakarta,20000,4.6,15.0,"{'lat': -6.1753924, 'lng': 106.8271528}",-6.175392,106.827153
1,2,Kota Tua,"Kota tua di Jakarta, yang juga bernama Kota Tu...",Budaya,Jakarta,0,4.6,90.0,"{'lat': -6.137644799999999, 'lng': 106.8171245}",-6.137645,106.817125
2,3,Dunia Fantasi,Dunia Fantasi atau disebut juga Dufan adalah t...,Taman Hiburan,Jakarta,270000,4.6,360.0,"{'lat': -6.125312399999999, 'lng': 106.8335377}",-6.125312,106.833538
3,4,Taman Mini Indonesia Indah (TMII),Taman Mini Indonesia Indah merupakan suatu kaw...,Taman Hiburan,Jakarta,10000,4.5,NaN,"{'lat': -6.302445899999999, 'lng': 106.8951559}",-6.302446,106.895156
4,5,Atlantis Water Adventure,Atlantis Water Adventure atau dikenal dengan A...,Taman Hiburan,Jakarta,94000,4.5,60.0,"{'lat': -6.12419, 'lng': 106.839134}",-6.124190,106.839134
...,...,...,...,...,...,...,...,...,...,...,...
79,80,Plaza Indonesia,Plaza Indonesia diresmikan pada awal tahun 199...,Pusat Perbelanjaan,Jakarta,0,4.7,120.0,"{'lat': -6.193925900000002, 'lng': 106.8222158}",-6.193926,106.822216
80,81,Mall Thamrin City,Thamrin City atau Thamrin City Mall merupakan ...,Pusat Perbelanjaan,Jakarta,0,4.4,60.0,"{'lat': -6.1946096, 'lng': 106.817905}",-6.194610,106.817905
81,82,Museum Satria Mandala,Museum Satria Mandala adalah museum sejarah pe...,Budaya,Jakarta,5000,4.5,150.0,"{'lat': -6.231698499999999, 'lng': 106.8185425}",-6.231699,106.818543
82,83,Alive Museum Ancol,Museum kini tidak hanya menawarkan benda – ben...,Taman Hiburan,Jakarta,200000,4.3,NaN,"{'lat': -6.117534399999999, 'lng': 106.857313}",-6.117534,106.857313
83,84,Kawasan Kuliner BSM,"Tidak seperti Pecenongan, Kawasan Kuliner BSM ...",Pusat Perbelanjaan,Jakarta,0,4.6,NaN,"{'lat': -6.184258799999999, 'lng': 106.824033}",-6.184259,106.824033

In [51]:
import os  
os.makedirs('./datasets/updated', exist_ok=True)

In [52]:
# new_categories = []

# # Iterate over each row in the DataFrame
# for index, row in df.iterrows():
#     # Display the current row's data
#     print(f"Row {index + 1} - Nama: {row['Place_Name']}")
    
#     # Prompt the user to input a new category
#     new_category = input("Enter the new category: ")
    
#     # Store the new category in the list
#     new_categories.append(new_category)

#      # Check if it's the 10th item or the last item
#     if (index + 1) % 5 == 0 or (index + 1) == len(df):
#         # Add the new categories as a new column in the DataFrame
#         df.loc[index - len(new_categories) + 1 : index, 'New Category'] = new_categories

#         # Save the updated DataFrame to a new CSV file
#         filename = f'updated_dataset_{index + 1}.csv'
#         df.to_csv(f'./datasets/updated/data{index}.csv')  
        
#         # Clear the new_categories list for the next batch
#         new_categories = []

In [53]:
import re

text = "Gereja Perawan Maria Tak Berdosa Surabaya: Religius"

# Use regular expression to split the text into key and value
matches = re.split(r'\s*:\s*', text)

# Check if the split was successful
if len(matches) == 2:
    key = matches[0]
    value = matches[1]
    places = {key: value}
    print(places)
else:
    print("Invalid input format.")

{'Gereja Perawan Maria Tak Berdosa Surabaya': 'Religius'}

In [54]:
import re

# Dictionary to store the extracted key-value pairs
places = {}

# Open the text file
with open('./places.txt', 'r') as file:
    # Read each line
    for line in file:
        # Use regular expression to split the line into key and value
        matches = re.split(r'\s*:\s*', line.strip())
        
        # Check if the split was successful
        if len(matches) == 2:
            key = matches[0]
            value = matches[1].split(',')

            # Remove extra spaces from values in categories with multiple values
            if len(value) > 1:
                value = [re.sub(r'\s+', ' ', v.strip()) for v in value]

            places[key] = value
        else:
            print(f"Invalid input format: {line}")

# Print the extracted key-value pairs
print(places)

{'Monumen Nasional': ['Budaya', 'Keluarga'], 'Kota Tua': ['Budaya'], 'Dunia Fantasi': ['Hiburan', 'Keluarga'], 'Taman Mini Indonesia Indah (TMII)': ['Budaya', 'Hiburan'], 'Atlantis Water Adventure': ['Petualangan', 'Hiburan'], 'Taman Impian Jaya Ancol': ['Hiburan', 'Keluarga'], 'Kebun Binatang Ragunan': ['Keluarga', 'Alam'], 'Ocean Ecopark': ['Petualangan', 'Alam'], 'Pelabuhan Marina': ['Hiburan', 'Alam'], 'Pulau Tidung': ['Alam', 'Petualangan'], 'Pulau Bidadari': ['Alam', 'Romantis'], 'Pulau Pari': ['Alam', 'Petualangan'], 'Pulau Pramuka': ['Alam', 'Petualangan'], 'Pulau Pelangi': ['Alam', 'Romantis'], 'Pasar Seni': ['Budaya', 'Hiburan'], 'Jembatan Kota Intan': ['Budaya'], 'Museum Fatahillah': ['Budaya'], 'Museum Bank Indonesia': ['Budaya'], 'Kidzania': ['Hiburan', 'Keluarga'], 'Museum Taman Prasasti': ['Budaya'], 'Museum Wayang': ['Budaya'], 'Masjid Istiqlal': ['Budaya'], 'Gereja Katedral': ['Budaya'], 'Museum Nasional': ['Budaya'], 'Pasar Tanah Abang': ['Budaya'], 'Pecinan Glodok': ['Budaya'], 'Sea World': ['Hiburan', 'Keluarga'], 'Wisata Agro Edukatif Istana Susu Cibugary': ['Hiburan', 'Keluarga'], 'Wisata Kuliner Pecenongan': ['Hiburan', 'Makanan'], 'Taman Menteng': ['Hiburan', 'Relaksasi'], 'Wisata Alam Mangrove Angke': ['Alam'], 'Setu Babakan': ['Budaya', 'Alam'], 'Taman Suropati': ['Hiburan', 'Relaksasi'], 'Pasar Taman Puring': ['Budaya'], 'Grand Indonesia Mall': ['Hiburan', 'Belanja'], 'Skyrink - Mall Taman Anggrek': ['Hiburan', 'Olahraga'], 'Bumi Perkemahan Cibubur': ['Petualangan', 'Keluarga'], 'Istana Negara Republik Indonesia': ['Budaya'], 'Museum Macan (Modern and Contemporary Art in Nusantara)': ['Budaya'], 'Galeri Nasional Indonesia': ['Budaya'], 'Museum Bahari Jakarta': ['Budaya'], 'Museum Seni Rupa dan Kramik': ['Budaya'], 'The Escape Hunt': ['Hiburan', 'Petualangan'], 'Monumen Selamat Datang': ['Budaya'], 'Jakarta Aquarium dan Safari': ['Hiburan', 'Keluarga'], 'Pulau Semak Daun': ['Alam', 'Petualangan'], 'Taman Situ Lembang': ['Alam', 'Hiburan'], 'Taman Ismail Marzuki': ['Budaya', 'Hiburan'], 'Galeri Indonesia Kaya': ['Budaya'], 'Museum Joang 45': ['Budaya'], 'Jakarta Planetarium': ['Budaya'], 'Kampung Cina': ['Budaya'], 'Rumah Sipitung': ['Budaya'], 'Taman Agrowisata Cilangkap': ['Alam', 'Keluarga'], 'Klenteng Jin De Yuan': ['Budaya'], 'Pantai Ancol': ['Alam', 'Hiburan', 'Keluarga'], 'Taman Lapangan Banteng': ['Hiburan', 'Olahraga'], 'Taman Ayodya': ['Hiburan', 'Keluarga'], 'Museum Sumpah Pemuda': ['Budaya'], 'Museum Tekstil': ['Budaya'], 'Tugu Proklamasi': ['Budaya'], 'Taman Legenda Keong Emas': ['Hiburan', 'Keluarga'], 'Museum Kebangkitan Nasional': ['Budaya'], 'Museum Sasmita Loka Ahmad Yani': ['Budaya'], 'Museum Basoeki Abdullah': ['Budaya'], 'Museum Layang-layang': ['Budaya'], 'Margasatwa Muara Angke': ['Alam', 'Petualangan'], 'Pasar Petak Sembilan': ['Budaya'], 'Freedom Library': ['Budaya'], 'Perpustakaan Nasional': ['Budaya'], 'Cibubur Garden Diary (Cibugary)': ['Hiburan', 'Keluarga'], 'Waterboom PIK (Pantai Indah Kapuk)': ['Hiburan', 'Keluarga'], 'Museum Perangko': ['Budaya'], 'Museum Tengah Kebun': ['Budaya'], 'SnowBay Waterpark': ['Hiburan', 'Keluarga'], 'Taman Cattleya': ['Alam', 'Relaksasi'], 'Taman Hutan Tebet': ['Alam', 'Relaksasi'], 'Hutan Kota Srengseng': ['Alam', 'Relaksasi'], 'Taman Spathodea': ['Alam', 'Hiburan'], 'Plaza Indonesia': ['Hiburan', 'Belanja'], 'Mall Thamrin City': ['Hiburan', 'Belanja'], 'Museum Satria Mandala': ['Budaya'], 'Alive Museum Ancol': ['Hiburan', 'Keluarga'], 'Kawasan Kuliner BSM': ['Budaya', 'Hiburan'], 'Taman Pintar Yogyakarta': ['Budaya', 'Keluarga'], 'Keraton Yogyakarta': ['Budaya'], 'Sindu Kusuma Edupark (SKE)': ['Hiburan', 'Keluarga'], 'Museum Benteng Vredeburg Yogyakarta': ['Budaya'], 'De Mata Museum Jogja': ['Hiburan', 'Budaya'], 'Kampung Wisata Taman Sari': ['Budaya'], 'Situs Warungboto': ['Budaya'], 'Nol Kilometer Jl.Malioboro': ['Budaya'], 'Gembira Loka Zoo': ['Hiburan', 'Keluarga'], 'Sumur Gumuling': ['Budaya', 'Relaksasi'], 'Desa Wisata Sungai Code Jogja Kota': ['Alam', 'Budaya'], 'Alun Alun Selatan Yogyakarta': ['Budaya'], 'Monumen Yogya Kembali': ['Budaya'], 'Taman Pelangi Yogyakarta': ['Hiburan', 'Keluarga'], 'Kampung Wisata Kadipaten': ['Budaya'], 'Taman Budaya Yogyakarta': ['Budaya'], 'Kampung Wisata Sosro Menduran': ['Budaya'], 'Monumen Batik Yogyakarta': ['Budaya'], 'Tugu Pal Putih Jogja': ['Budaya'], 'Tebing Breksi': ['Alam', 'Petualangan'], 'Candi Donotirto': ['Alam', 'Budaya'], 'Kawasan Malioboro': ['Budaya'], 'Bangsal Pagelaran': ['Budaya'], 'Embung Tambakboyo': ['Alam', 'Relaksasi'], 'Hutan Pinus Pengger': ['Alam', 'Relaksasi'], 'Monumen Serangan Umum 1 Maret': ['Budaya'], 'Puncak Pinus Becici': ['Alam', 'Relaksasi'], 'Bukit Bintang Yogyakarta': ['Alam', 'Petualangan'], 'Gedung Agung Yogyakarta': ['Budaya'], 'The Lost World Castle': ['Hiburan', 'Keluarga'], 'Monumen Sanapati': ['Budaya'], 'Jurang Tembelan Kanigoro': ['Alam', 'Petualangan'], 'The World Landmarks - Merapi Park Yogyakarta': ['Alam', 'Petualangan'], 'Museum Sonobudoyo Unit I': ['Budaya'], 'Lava Bantal': ['Alam', 'Petualangan'], 'Bukit Panguk Kediwung': ['Alam', 'Petualangan'], 'Candi Prambanan': ['Budaya'], 'Watu Goyang': ['Alam', 'Petualangan'], 'Kampung Wisata Rejowinangun': ['Budaya'], 'Kauman Pakualaman Yogyakarta': ['Budaya'], 'Alun-alun Utara Keraton Yogyakarta': ['Budaya'], 'Pantai Goa Cemara': ['Alam', 'Romantis'], 'Blue Lagoon Jogja': ['Alam', 'Romantis'], 'Gumuk Pasir Parangkusumo': ['Alam', 'Petualangan'], 'Bukit Lintang Sewu': ['Alam', 'Petualangan'], 'Studio Alam Gamplong': ['Alam', 'Hiburan'], 'Watu Lumbung': ['Alam', 'Petualangan'], 'Air Terjun Kedung Pedut': ['Alam', 'Petualangan'], 'Puncak Kebun Buah Mangunan': ['Alam', 'Relaksasi'], 'Desa Wisata Gamplong': ['Alam', 'Budaya'], 'Kawasan Wisata Sosrowijayan': ['Budaya'], 'Grojogan Watu Purbo Bangunrejo': ['Alam', 'Petualangan'], 'Wisata Alam Kalibiru': ['Alam', 'Petualangan'], 'Jogja Exotarium': ['Budaya'], 'Puncak Gunung Api Purba - Nglanggeran': ['Alam', 'Petualangan'], 'Bendung Lepen': ['Alam', 'Petualangan'], 'Bunker Kaliadem Merapi': ['Alam', 'Petualangan'], 'Ledok Sambi': ['Alam', 'Petualangan'], 'Seribu Batu Songgo Langit': ['Alam', 'Petualangan'], 'Goa Jomblang': ['Alam', 'Petualangan'], 'Desa Wisata Rumah Domes/Teletubbies': ['Alam', 'Keluarga'], 'Bukit Wisata Pulepayung': ['Alam', 'Relaksasi'], 'Bentara Budaya Yogyakarta (BBY)': ['Budaya'], 'Goa Rancang Kencono': ['Alam', 'Petualangan'], 'Goa Cerme': ['Alam', 'Petualangan'], 'Wisata Kraton Jogja': ['Budaya'], 'Desa Wisata Kelor': ['Alam', 'Keluarga'], 'Pantai Patihan': ['Alam', 'Petualangan'], 'Pantai Kukup': ['Alam', 'Romantis'], 'Pantai Ngrawe (Mesra)': ['Alam', 'Romantis'], 'Pantai Ngobaran': ['Alam', 'Romantis'], 'Pantai Pulang Sawal': ['Alam', 'Romantis'], 'Pantai Baron': ['Alam', 'Romantis'], 'Pantai Pok Tunggal': ['Alam', 'Romantis'], 'Hutan Pinus Asri': ['Alam', 'Relaksasi'], 'Pasar Kebon Empring Bintaran': ['Budaya'], 'Bukit Paralayang, Watugupit': ['Alam', 'Petualangan'], 'Kampung Wisata Dipowinatan': ['Budaya'], 'Watu Mabur Mangunan': ['Alam', 'Petualangan'], 'Pintoe Langit Dahromo': ['Alam', 'Petualangan'], 'Green Village Gedangsari': ['Alam', 'Relaksasi'], 'Kebun Teh Nglinggo': ['Alam', 'Relaksasi'], 'Geoforest Watu Payung Turunan': ['Alam', 'Petualangan'], 'Pantai Timang': ['Alam', 'Petualangan'], 'Puncak Segoro': ['Alam', 'Petualangan'], 'Candi Borobudur': ['Budaya', 'Relaksasi'], 'Candi Ijo': ['Budaya'], 'Pantai Indrayanti': ['Alam', 'Romantis'], 'Pantai Nglambor': ['Alam', 'Romantis'], 'Pasar Beringharjo': ['Budaya'], 'Museum Ullen Sentalu': ['Budaya'], 'Museum Gunung Merapi': ['Budaya'], 'Pantai Parangtritis': ['Alam', 'Romantis'], 'Goa Pindul': ['Alam', 'Petualangan'], 'Candi Ratu Boko': ['Budaya'], 'Pantai Depok Jogja': ['Alam', 'Romantis'], 'Pantai Sundak': ['Alam', 'Romantis'], 'Hutan Mangrove Kulon Progo': ['Alam', 'Relaksasi'], 'Jogja Bay Pirates Adventure Waterpark': ['Hiburan', 'Keluarga'], 'Pantai Sepanjang': ['Alam', 'Romantis'], 'Pantai Krakal': ['Alam', 'Romantis'], 'Pantai Glagah': ['Alam', 'Romantis'], 'Pantai Siung': ['Alam', 'Petualangan'], 'Pantai Sadranan': ['Alam', 'Romantis'], 'Pantai Nguluran': ['Alam', 'Romantis'], 'Pantai Samas': ['Alam', 'Romantis'], 'Pantai Drini': ['Alam', 'Romantis'], 'Air Terjun Sri Gethuk': ['Alam', 'Petualangan'], 'Candi Sewu': ['Budaya'], 'Pantai Wediombo': ['Alam', 'Romantis'], 'Pantai Jogan': ['Alam', 'Romantis'], 'Pantai Ngrenehan': ['Alam', 'Romantis'], 'Pantai Jungwok': ['Alam', 'Romantis'], 'Pantai Greweng': ['Alam', 'Romantis'], 'Pantai Sedahan': ['Alam', 'Romantis'], 'Pantai Watu Kodok': ['Alam', 'Romantis'], 'Pantai Kesirat': ['Alam', 'Romantis'], 'Pantai Ngandong': ['Alam', 'Romantis'], 'Galaxy Waterpark Jogja': ['Hiburan', 'Keluarga'], 'Desa Wisata Pulesari': ['Budaya'], 'Desa Wisata Tembi': ['Budaya'], 'Wisata Kaliurang': ['Alam', 'Petualangan'], 'Heha Sky View': ['Alam', 'Hiburan'], 'Taman Sungai Mudal': ['Alam', 'Relaksasi'], 'Pantai Sanglen': ['Alam', 'Romantis'], 'Pantai Congot': ['Alam', 'Romantis'], 'Gunung Tangkuban Parahu': ['Alam', 'Petualangan'], 'Jalan Braga': ['Budaya'], 'Gedung Sate': ['Budaya'], 'Trans Studio Bandung': ['Hiburan', 'Keluarga'], 'Taman Hutan Raya Ir. H. Djuanda': ['Alam', 'Relaksasi'], 'Farm House Susu Lembang': ['Hiburan', 'Keluarga'], 'Kebun Binatang Bandung': ['Hiburan', 'Keluarga'], 'Kawah Putih': ['Alam', 'Petualangan'], 'Tebing Karaton': ['Alam', 'Petualangan'], 'Dusun Bambu': ['Alam', 'Relaksasi'], 'Museum Geologi Bandung': ['Budaya'], 'Museum Konferensi Asia Afrika': ['Budaya'], 'Masjid Raya Bandung': ['Budaya', 'Keluarga'], 'Dago Dreampark': ['Hiburan', 'Keluarga'], 'Orchid Forest Cikole': ['Alam', 'Relaksasi'], 'Kawasan Punclut': ['Alam', 'Romantis'], 'Alun-Alun Kota Bandung': ['Budaya'], 'Museum Sri Baduga': ['Budaya'], 'Rabbit Town': ['Hiburan', 'Keluarga'], 'Stone Garden Citatah': ['Alam', 'Petualangan'], 'The Great Asia Africa': ['Budaya'], 'Bukit Moko': ['Alam', 'Petualangan'], 'Gunung Papandayan': ['Alam', 'Petualangan'], 'Amazing Art World': ['Hiburan', 'Keluarga'], 'Gua Belanda': ['Alam', 'Petualangan'], 'Taman Balai Kota Bandung': ['Budaya'], 'Panghegar Waterboom Bandung': ['Hiburan', 'Keluarga'], 'Gunung Manglayang': ['Alam', 'Petualangan'], 'Lembang Park & Zoo': ['Hiburan', 'Keluarga'], 'Taman Lalu Lintas Ade Irma Suryani Nasution': ['Hiburan', 'Keluarga'], 'Lawangwangi Creative Space': ['Budaya'], 'Curug Dago': ['Alam', 'Petualangan'], 'Kampung Korea Bandung': ['Budaya'], 'Kampung Batu Malakasari': ['Budaya'], 'Jendela Alam': ['Alam', 'Relaksasi'], 'Curug Tilu Leuwi Opat': ['Alam', 'Petualangan'], 'Kiara Artha Park': ['Alam', 'Relaksasi'], 'NuArt Sculpture Park': ['Budaya'], 'Upside Down World Bandung': ['Hiburan', 'Keluarga'], 'Pesona Nirwana Waterpark & Cottages': ['Hiburan', 'Keluarga'], 'Taman Lansia': ['Relaksasi'], 'Kampoeng Tulip': ['Alam', 'Romantis'], 'Selasar Sunaryo Art Space': ['Budaya'], 'Teras Cikapundung BBWS': ['Alam', 'Relaksasi'], 'Museum Barli': ['Budaya'], 'Wisata Batu Kuda': ['Alam', 'Petualangan'], 'Monumen Bandung Lautan Api': ['Budaya'], 'Museum Gedung Sate': ['Budaya'], 'Monumen Perjuangan Rakyat Jawa Barat': ['Budaya'], 'Museum Pos Indonesia': ['Budaya'], 'Ciwangun Indah Camp Official': ['Alam', 'Relaksasi'], 'Wot Batu': ['Alam', 'Petualangan'], 'Curug Batu Templek': ['Alam', 'Petualangan'], 'Gereja Katedral Santo Petrus Bandung': ['Religius'], 'Museum Mandala Wangsit Siliwangi': ['Budaya'], 'Caringin Tilu': ['Alam', 'Petualangan'], 'Panama Park 825': ['Hiburan', 'Keluarga'], 'Sudut Pandang Bandung': ['Budaya'], 'Bumi Perkemahan Batu Kuda': ['Alam', 'Relaksasi'], 'Bukit Bintang': ['Alam', 'Petualangan'], 'Taman Vanda': ['Alam', 'Relaksasi'], 'Taman Budaya Jawa Barat': ['Budaya'], 'Curug Bugbrug': ['Alam', 'Petualangan'], 'Babakan Siliwangi City Forest Path Bandung': ['Alam', 'Relaksasi'], 'Curug Cipanas': ['Alam', 'Petualangan'], 'Taman Jomblo': ['Hiburan', 'Keluarga'], 'Peta Park': ['Alam', 'Relaksasi'], 'Masjid Daarut Tauhiid Bandung': ['Religius'], 'Masjid Agung Trans Studio Bandung': ['Religius'], 'Gereja Tiberias Indonesia Bandung': ['Religius'], 'Tektona Waterpark': ['Hiburan', 'Keluarga'], 'Curug Cilengkrang': ['Alam', 'Petualangan'], 'Jembatan Pasupati': ['Budaya'], 'Pasar Baru': ['Budaya'], 'Taman Sejarah Bandung': ['Budaya'], 'Roemah Seni Sarasvati': ['Budaya'], 'Puspa Iptek Sundial': ['Budaya'], 'Masjid Salman ITB': ['Religius'], 'Curug Aseupan': ['Alam', 'Petualangan'], 'Museum Pendidikan Nasional': ['Budaya'], 'Water Park Bandung Indah': ['Hiburan', 'Keluarga'], 'Curug Anom': ['Alam', 'Petualangan'], 'Taman Badak': ['Alam', 'Relaksasi'], 'Taman Film': ['Budaya'], 'Museum Nike Ardilla': ['Budaya'], 'Batununggal Indah Club': ['Olahraga', 'Hiburan', 'Keluarga'], 'Mountain View Golf Club': ['Olahraga'], 'Gunung Lalakon': ['Alam', 'Petualangan'], 'Sendang Geulis Kahuripan': ['Alam', 'Relaksasi'], 'Sanghyang Heuleut': ['Alam', 'Petualangan'], 'Lereng Anteng Panoramic Coffee Place': ['Alam', 'Relaksasi'], 'Masjid Pusdai': ['Religius'], 'Masjid Al-Imtizaj': ['Religius'], 'Situ Cileunca': ['Alam', 'Relaksasi'], 'Sunrise Point Cukul': ['Alam', 'Petualangan'], 'Sungai Palayangan': ['Alam', 'Petualangan'], 'Perkebunan Teh Malabar': ['Alam', 'Relaksasi'], 'Pemandian Air Panas Ciater': ['Alam', 'Relaksasi'], 'Observatorium Bosscha': ['Budaya'], 'Taman Bunga Cihideung': ['Alam', 'Relaksasi'], 'The Lodge Maribaya': ['Alam', 'Relaksasi'], 'Taman Hutan Raya Ir. H. Juanda': ['Alam', 'Relaksasi'], 'Taman Begonia': ['Alam', 'Relaksasi'], 'Tafso Barn': ['Alam', 'Relaksasi'], 'Curug Luhur Waterfall': ['Alam', 'Petualangan'], 'Curug Malela': ['Alam', 'Petualangan'], 'Curug Cimahi': ['Alam', 'Petualangan'], 'Situ Patenggang': ['Alam', 'Relaksasi'], 'Kawah Rengganis Cibuni': ['Alam', 'Petualangan'], 'Pemandian Air Panas Cimanggu': ['Alam', 'Relaksasi'], 'Glamping Lakeside Rancabali': ['Alam', 'Relaksasi'], 'Bukit Jamur': ['Alam', 'Relaksasi'], 'Kebun Tanaman Obat Sari Alam': ['Alam', 'Edukasi'], 'Happyfarm Ciwidey': ['Alam', 'Hiburan', 'Keluarga'], 'Saung Angklung Mang Udjo': ['Budaya'], 'Taman Kupu-Kupu Cihanjuang': ['Alam', 'Edukasi'], 'Taman Miniatur Kereta Api': ['Hiburan', 'Edukasi', 'Keluarga'], 'Gua Pawon': ['Alam', 'Petualangan'], 'Bukit Gantole Cililin': ['Alam', 'Relaksasi'], 'Bandros City Tour': ['Hiburan', 'Keluarga'], 'Kyotoku Floating Market': ['Hiburan', 'Keluarga'], 'Rainbow Garden': ['Alam', 'Relaksasi'], 'Kota Mini': ['Hiburan', 'Keluarga'], 'Chingu Cafe Little Seoul': ['Hiburan', 'Kuliner'], 'Candi Gedong Songo': ['Budaya', 'Sejarah'], 'Grand Maerakaca': ['Hiburan', 'Keluarga'], 'Kampung Pelangi': ['Budaya'], 'Lawang Sewu': ['Budaya', 'Sejarah'], 'Sam Poo Kong Temple': ['Budaya', 'Religius'], 'Desa Wisata Lembah Kalipancur': ['Alam', 'Relaksasi'], 'Hutan Wisata Tinjomoyo Semarang': ['Alam', 'Petualangan'], 'Taman Kasmaran': ['Alam', 'Relaksasi'], 'Pantai Baruna': ['Alam', 'Relaksasi'], 'Pantai Marina': ['Alam', 'Relaksasi'], 'Kampoeng Djadhoel Semarang': ['Budaya'], 'Indonesia Kaya Park': ['Budaya'], 'Taman Pandanaran': ['Budaya'], 'Pura Giri Natha': ['Religius'], 'Wisata Mangrove Tapak': ['Alam', 'Relaksasi'], 'Pantai Cipta': ['Alam', 'Relaksasi'], 'Old City 3D Trick Art Museum': ['Budaya', 'Hiburan'], 'GPIB Immanuel Semarang (Gereja Blenduk)': ['Religius'], 'Taman Srigunting': ['Alam', 'Relaksasi'], 'Semarang Contemporary Art Gallery': ['Budaya'], 'Umbul Sidomukti': ['Alam', 'Petualangan'], 'Saloka Theme Park': ['Hiburan', 'Keluarga'], 'Wisata Alam Wana Wisata Penggaron': ['Alam', 'Petualangan'], 'Masjid Kapal Semarang': ['Religius'], 'Taman Bunga Celosia': ['Alam', 'Relaksasi'], 'Air Terjun Kali Pancur': ['Alam', 'Petualangan'], 'Wisata Kampung Krisan Clapar': ['Alam', 'Relaksasi'], 'Danau Rawa Pening': ['Alam', 'Relaksasi'], 'Pantai Maron': ['Alam', 'Relaksasi'], 'Water Blaster Bukit Candi Golf': ['Hiburan', 'Keluarga'], 'Waduk Jatibarang': ['Alam', 'Relaksasi'], 'Tirto Argo Siwarak': ['Alam', 'Relaksasi'], 'Wisata Lereng Kelir': ['Alam', 'Seni'], 'Kampoeng Rawa': ['Alam', 'Relaksasi'], 'Monumen Palagan Ambarawa': ['Sejarah', 'Budaya'], 'Benteng Pendem': ['Sejarah', 'Budaya'], 'Wisata Eling Bening': ['Alam', 'Relaksasi'], 'Gua Maria Kerep Ambarawa': ['Religius'], 'Museum Kereta Ambarawa': ['Budaya', 'Sejarah'], 'Hutan Pinus Kayon': ['Alam', 'Relaksasi'], 'Kota Lama Semarang': ['Sejarah', 'Budaya'], 'Semarang Chinatown': ['Budaya'], 'La Kana Chapel': ['Religius'], 'Jembatan Biru Ambarawa': ['Alam', 'Pemandangan'], 'Goa Rong': ['Alam', 'Petualangan'], 'Masjid Agung Ungaran': ['Religius'], 'Tugu Muda Semarang': ['Sejarah', 'Budaya'], 'Kampoeng Kopi Banaran': ['Kuliner', 'Edukasi'], 'Taman Tabanas': ['Alam', 'Relaksasi'], 'Kampung Tematik Jawi': ['Budaya'], 'Kampung Batik Gedong Semarang': ['Budaya'], 'Air Terjun Semirang': ['Alam', 'Petualangan'], 'Obyek Wisata Goa Kreo': ['Alam', 'Petualangan'], 'Watu Gunung Ungaran': ['Alam', 'Petualangan'], 'Brown Canyon': ['Alam', 'Pemandangan'], 'Durian Gardens and Tourism Education Watu Simbar': ['Alam', 'Edukasi'], 'Flower Farm Setiya Aji': ['Alam', 'Relaksasi'], 'Ekowisata Mangrove Wonorejo': ['Alam', 'Relaksasi'], 'Taman Harmoni Keputih': ['Alam', 'Relaksasi'], 'Air Mancur Menari': ['Alam', 'Hiburan'], 'Taman Prestasi': ['Hiburan', 'Keluarga'], 'Monumen Kapal Selam': ['Sejarah', 'Budaya'], 'Taman Kunang-Kunang': ['Alam', 'Hiburan'], 'Taman Buah Surabaya': ['Alam', 'Edukasi'], 'Taman Pelangi': ['Alam', 'Hiburan'], 'Hutan Bambu Keputih': ['Alam', 'Relaksasi'], 'Taman Keputran': ['Alam', 'Relaksasi'], 'Food Junction Grand Pakuwon': ['Kuliner', 'Hiburan'], 'Taman Barunawati': ['Alam', 'Relaksasi'], 'Kenjeran Park': ['Alam', 'Hiburan'], 'Surabaya North Quay': ['Alam', 'Pemandangan'], 'Kebun Bibit Wonorejo': ['Alam', 'Edukasi'], 'Taman Ekspresi Dan Perpustakaan': ['Hiburan', 'Edukasi'], 'Kebun Binatang Surabaya': ['Alam', 'Hiburan'], 'Rumah Batik': ['Budaya', 'Seni'], 'Ciputra Waterpark': ['Hiburan', 'Keluarga'], 'Masjid Muhammad Cheng Hoo': ['Religius', 'Budaya'], 'Masjid Nasional Al-Akbar': ['Religius', 'Budaya'], 'Museum TNI AL Loka Jala Crana': ['Sejarah', 'Budaya'], 'Jembatan Merah': ['Sejarah', 'Budaya'], 'Museum De Javasche Bank': ['Sejarah', 'Budaya'], 'Keraton Surabaya': ['Sejarah', 'Budaya'], 'Klenteng Sanggar Agung': ['Budaya', 'Religius'], 'Museum Sepuluh Nopember Kota Surabaya': ['Sejarah', 'Budaya'], 'Monumen Tugu Pahlawan': ['Sejarah', 'Budaya'], 'Surabaya Museum (Gedung Siola)': ['Sejarah', 'Budaya'], 'Museum Kesehatan Dr. Adhyatma': ['Edukasi', 'Sejarah'], 'Monumen Jalesveva Jayamahe': ['Sejarah', 'Budaya'], 'Patung Sura dan Buaya': ['Sejarah', 'Budaya'], 'Pantai Ria Kenjeran': ['Alam', 'Hiburan'], 'Waterpark Kenjeran Surabaya': ['Hiburan', 'Keluarga'], 'Balai Kota Surabaya': ['Sejarah', 'Budaya'], 'Patung Buddha Empat Rupa': ['Religius', 'Budaya'], 'Monumen Bambu Runcing Surabaya': ['Sejarah', 'Budaya'], 'House of Sampoerna': ['Sejarah', 'Budaya'], 'Atlantis Land Surabaya': ['Hiburan', 'Keluarga'], 'Taman Hiburan Rakyat': ['Hiburan', 'Keluarga'], 'Taman Mundu': ['Alam', 'Relaksasi'], 'Museum Mpu Tantular': ['Sejarah', 'Budaya'], 'Taman Bungkul': ['Alam', 'Relaksasi'], 'Taman Air Mancur Menari Kenjeran': ['Alam', 'Hiburan'], 'Taman Flora Bratang Surabaya': ['Alam', 'Relaksasi'], 'Gereja Perawan Maria Tak Berdosa Surabaya': ['Religius']}

In [55]:
df

,Place_Id,Place_Name,Description,Category,City,Price,Rating,Time_Minutes,Coordinate,Lat,Long
0,1,Monumen Nasional,Monumen Nasional atau yang populer disingkat d...,Budaya,Jakarta,20000,4.6,15.0,"{'lat': -6.1753924, 'lng': 106.8271528}",-6.175392,106.827153
1,2,Kota Tua,"Kota tua di Jakarta, yang juga bernama Kota Tu...",Budaya,Jakarta,0,4.6,90.0,"{'lat': -6.137644799999999, 'lng': 106.8171245}",-6.137645,106.817125
2,3,Dunia Fantasi,Dunia Fantasi atau disebut juga Dufan adalah t...,Taman Hiburan,Jakarta,270000,4.6,360.0,"{'lat': -6.125312399999999, 'lng': 106.8335377}",-6.125312,106.833538
3,4,Taman Mini Indonesia Indah (TMII),Taman Mini Indonesia Indah merupakan suatu kaw...,Taman Hiburan,Jakarta,10000,4.5,NaN,"{'lat': -6.302445899999999, 'lng': 106.8951559}",-6.302446,106.895156
4,5,Atlantis Water Adventure,Atlantis Water Adventure atau dikenal dengan A...,Taman Hiburan,Jakarta,94000,4.5,60.0,"{'lat': -6.12419, 'lng': 106.839134}",-6.124190,106.839134
...,...,...,...,...,...,...,...,...,...,...,...
432,433,Museum Mpu Tantular,Museum Negeri Mpu Tantular adalah sebuah museu...,Budaya,Surabaya,2000,4.4,45.0,"{'lat': -7.4338593, 'lng': 112.7199058}",-7.433859,112.719906
433,434,Taman Bungkul,Taman Bungkul adalah taman wisata kota yang te...,Taman Hiburan,Surabaya,0,4.6,NaN,"{'lat': -7.291346799999999, 'lng': 112.7398218}",-7.291347,112.739822
434,435,Taman Air Mancur Menari Kenjeran,Air mancur menari atau dancing fountain juga a...,Taman Hiburan,Surabaya,0,4.4,45.0,"{'lat': -7.2752955, 'lng': 112.7549381}",-7.275296,112.754938
435,436,Taman Flora Bratang Surabaya,Taman Flora adalah salah satu taman kota di Su...,Taman Hiburan,Surabaya,0,4.6,NaN,"{'lat': -7.294330299999999, 'lng': 112.7617534}",-7.294330,112.761753
436,437,Gereja Perawan Maria Tak Berdosa Surabaya,Gereja Katolik Kelahiran Santa Perawan Maria m...,Tempat Ibadah,Surabaya,10000,4.8,NaN,"{'lat': -7.2420758, 'lng': 112.7368158}",-7.242076,112.736816

In [56]:
# Iterate over each row in the DataFrame
for index, row in df.iterrows():
    name = row['Place_Name']
    
    df['new_category'] = df.apply(lambda row: places[row['Place_Name']] if row['Place_Name'] in places else None, axis=1)

# Print the updated DataFrame
print(df)

     Place_Id                                 Place_Name  \
0           1                           Monumen Nasional
1           2                                   Kota Tua
2           3                              Dunia Fantasi
3           4          Taman Mini Indonesia Indah (TMII)
4           5                   Atlantis Water Adventure
..        ...                                        ...
432       433                        Museum Mpu Tantular
433       434                              Taman Bungkul
434       435           Taman Air Mancur Menari Kenjeran
435       436               Taman Flora Bratang Surabaya
436       437  Gereja Perawan Maria Tak Berdosa Surabaya

                                           Description       Category  \
0    Monumen Nasional atau yang populer disingkat d...         Budaya
1    Kota tua di Jakarta, yang juga bernama Kota Tu...         Budaya
2    Dunia Fantasi atau disebut juga Dufan adalah t...  Taman Hiburan
3    Taman Mini Indonesia Indah merupakan suatu kaw...  Taman Hiburan
4    Atlantis Water Adventure atau dikenal dengan A...  Taman Hiburan
..                                                 ...            ...
432  Museum Negeri Mpu Tantular adalah sebuah museu...         Budaya
433  Taman Bungkul adalah taman wisata kota yang te...  Taman Hiburan
434  Air mancur menari atau dancing fountain juga a...  Taman Hiburan
435  Taman Flora adalah salah satu taman kota di Su...  Taman Hiburan
436  Gereja Katolik Kelahiran Santa Perawan Maria m...  Tempat Ibadah

         City   Price  Rating  Time_Minutes  \
0     Jakarta   20000     4.6          15.0
1     Jakarta       0     4.6          90.0
2     Jakarta  270000     4.6         360.0
3     Jakarta   10000     4.5           NaN
4     Jakarta   94000     4.5          60.0
..        ...     ...     ...           ...
432  Surabaya    2000     4.4          45.0
433  Surabaya       0     4.6           NaN
434  Surabaya       0     4.4          45.0
435  Surabaya       0     4.6           NaN
436  Surabaya   10000     4.8           NaN

                                          Coordinate       Lat        Long  \
0            {'lat': -6.1753924, 'lng': 106.8271528} -6.175392  106.827153
1    {'lat': -6.137644799999999, 'lng': 106.8171245} -6.137645  106.817125
2    {'lat': -6.125312399999999, 'lng': 106.8335377} -6.125312  106.833538
3    {'lat': -6.302445899999999, 'lng': 106.8951559} -6.302446  106.895156
4               {'lat': -6.12419, 'lng': 106.839134} -6.124190  106.839134
..                                               ...       ...         ...
432          {'lat': -7.4338593, 'lng': 112.7199058} -7.433859  112.719906
433  {'lat': -7.291346799999999, 'lng': 112.7398218} -7.291347  112.739822
434          {'lat': -7.2752955, 'lng': 112.7549381} -7.275296  112.754938
435  {'lat': -7.294330299999999, 'lng': 112.7617534} -7.294330  112.761753
436          {'lat': -7.2420758, 'lng': 112.7368158} -7.242076  112.736816

               new_category
0        [Budaya, Keluarga]
1                  [Budaya]
2       [Hiburan, Keluarga]
3         [Budaya, Hiburan]
4    [Petualangan, Hiburan]
..                      ...
432       [Sejarah, Budaya]
433       [Alam, Relaksasi]
434         [Alam, Hiburan]
435       [Alam, Relaksasi]
436              [Religius]

[437 rows x 12 columns]

In [57]:
df.loc[df['new_category'].isnull()]

Empty DataFrame
Columns: [Place_Id, Place_Name, Description, Category, City, Price, Rating, Time_Minutes, Coordinate, Lat, Long, new_category]
Index: []

## Penyesuaian

In [58]:
for index, row in df.iterrows():
    if re.search(r'Pantai', row['Place_Name']) and 'Keluarga' not in row['new_category']:
        # Append 'Keluarga' to the 'new_category' list
        df.at[index, 'new_category'].append('Keluarga')

In [59]:
for index, row in df.iterrows():
    if 'Religius' in row['new_category']:
        # Find the index of 'Religius' in the list
        index_to_replace = row['new_category'].index('Religius')
        # Replace 'Religius' with 'Budaya' at the specific index
        row['new_category'][index_to_replace] = 'Budaya'

In [60]:
df.loc[df['new_category'] == 'Edukasi']

Empty DataFrame
Columns: [Place_Id, Place_Name, Description, Category, City, Price, Rating, Time_Minutes, Coordinate, Lat, Long, new_category]
Index: []

In [61]:
for index, row in df.iterrows():
    if 'Edukasi' in row['new_category']:
        # Find the index of 'Religius' in the list
        index_to_replace = row['new_category'].index('Edukasi')
        # Replace 'Religius' with 'Budaya' at the specific index
        row['new_category'][index_to_replace] = 'Keluarga'

# Export to easy to check

In [62]:
# Define the output file path
output_file = "./output.txt"

# Open the file in write mode
with open(output_file, 'w') as file:
    # Iterate over the dictionary items
    for key, value in places.items():
        # Convert the categories list to a string
        categories = ', '.join(value)
        
        # Write the formatted string to the file
        file.write(f"{key}:{categories}\n")

# Confirm the file write
print(f"Data written to {output_file} successfully.")

Data written to ./output.txt successfully.

In [63]:
df.drop("Category", axis=1,inplace=True)

In [64]:
df.head(3)

,Place_Id,Place_Name,Description,City,Price,Rating,Time_Minutes,Coordinate,Lat,Long,new_category
0,1,Monumen Nasional,Monumen Nasional atau yang populer disingkat d...,Jakarta,20000,4.6,15.0,"{'lat': -6.1753924, 'lng': 106.8271528}",-6.175392,106.827153,"[Budaya, Keluarga]"
1,2,Kota Tua,"Kota tua di Jakarta, yang juga bernama Kota Tu...",Jakarta,0,4.6,90.0,"{'lat': -6.137644799999999, 'lng': 106.8171245}",-6.137645,106.817125,[Budaya]
2,3,Dunia Fantasi,Dunia Fantasi atau disebut juga Dufan adalah t...,Jakarta,270000,4.6,360.0,"{'lat': -6.125312399999999, 'lng': 106.8335377}",-6.125312,106.833538,"[Hiburan, Keluarga]"

In [65]:
df.to_csv('./datasets/updated/tourism_with_id_updated.csv', index=False)

In [66]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 437 entries, 0 to 436
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Place_Id      437 non-null    int64
 1   Place_Name    437 non-null    object
 2   Description   437 non-null    object
 3   City          437 non-null    object
 4   Price         437 non-null    int64
 5   Rating        437 non-null    float64
 6   Time_Minutes  205 non-null    float64
 7   Coordinate    437 non-null    object
 8   Lat           437 non-null    float64
 9   Long          437 non-null    float64
 10  new_category  437 non-null    object
dtypes: float64(4), int64(2), object(5)
memory usage: 37.7+ KB